* {
  box-sizing: border-box;
}

// .Wrapper {
//   display: flex;
//   height: 100%;
// }

.mypage {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100%;
  font-family: 'Khand', sans-serif;
  color: dimgray;
  

  .side-bar{
    height: 100vh;
    width: 300px;
    background-color: #ffebcd;

    &__users-books {
      
      &__user-name {
        padding: 100px 15px 30px 15px;
        text-align: center;
      }
    }

  }
  .book-main {
    height: 100vh;
    width: calc(100vw - 300px);
    background-color: #ffffff;
  }
}
